<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Articles index</title>
    </head>
    <body>
        {% if published_articles_list %}
            <ul>
                {% for article in published_articles_list %}
                <li><a href="{% url 'django_articles:articles_detail' article.id %}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No articles are available.</p>
        {% endif %}
    </body>
</html>