<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Author detail page</title>
    </head>
    <body>
        <h1>Author info:</h1>
        <p>Name: {{ author.user.username }}</p>
        {% if author.user.email %}
            <p>E-mail: {{ author.user.email }}</p>
        {% endif %}
        {% if articles %}
            <h2>Published articles:</h2>
            <ul>
                {% for article in articles %}
                <li><a href="{% url 'django_articles:article-detail' article.id %}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>Has not published any articles yet.</h2>
        {% endif %}
    </body>
</html>
