<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Tags relations index page</title>
    </head>
    <body>
        {% if tag_relations_list %}
            <ul>
                {% for article in tag_relations_list %}
                <li><a href="{% url 'django_articles:article-detail' article.id %}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No articles are available.</p>
        {% endif %}
    </body>
</html>